#if ($node.getErrorDescription()!="") Error Occurred : $node.getErrorDescription() #else

#foreach($child in $node.getChildren())
    
    #if ($child.getChildren().size() != 0) 
    	<li class="parent-node" id="$child.getNodeId()">
     #else 
     	<li class="last" id="$child.getNodeId()"> #end 
    	
    #if ($child.getChildren().size() != 0) 
    	<a href="#" onclick="toggle('$child.getNodeId()')"> 
    #else 
    	#if($child.isAppointed())
    		#set( $class = "appointed" )
    	#else
    		#set( $class = "notappointed" )
    	#end
    	<a href="#" onclick="ajaxLoad('$child.getNodeId()')" class="$class">
   	#end 
    $child.getNodeName() </a>
    #if ( $child.getChildren().size() != 0 )    
        <ul id="$child.getNodeId()" style="display:none" class="tree-parent">
        #set ( $node.children = $child.getChildren())
        #parse ("tree.vm")
        </ul>
    #end
    </li>
#end
#end